* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.4rem;
  background-color: #121214;
  color: #fff;
}

a {
  text-decoration: none;
  color: #fff;
}

button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  cursor: pointer;
  font-family: "Roboto";
  font-size: 1.6rem;
  font-weight: 400;
}

.container {
  max-width: 120rem;
  padding: 1rem 1.5rem;
  margin: 0 auto;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  height: 7.1rem;
  -moz-column-gap: 2rem;
       column-gap: 2rem;
}
.header__burger {
  display: none;
}
.header__burger span {
  display: inline-block;
  width: 3rem;
  height: 0.2rem;
  background-color: #fff;
}
.header__buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  -moz-column-gap: 2rem;
       column-gap: 2rem;
}
.header__buttons--login {
  color: #A6A8AD;
  line-height: 2rem;
  background-color: transparent;
}
.header__buttons--login:hover {
  color: #fff;
}
.header__buttons--signup {
  color: #121214;
  background-color: #fff;
  border-radius: 3.2rem;
  padding: 0.8rem 2rem;
}
.header__buttons--signup:is(:hover :focus) {
  background-color: #0033ff;
  color: #fff;
}

.nav {
  display: flex;
  align-items: center;
  gap: 3rem;
}
.nav__logo {
  vertical-align: bottom;
  width: 9.7rem;
  height: 3rem;
}
.nav__items {
  display: flex;
  align-items: center;
  -moz-column-gap: 2rem;
       column-gap: 2rem;
  list-style: none;
}
.nav__link {
  display: inline-block;
  color: #A6A8AD;
  line-height: 2rem;
}
.nav__link:hover {
  color: #fff;
}

.sounds {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0033ff;
  -moz-column-gap: 3rem;
       column-gap: 3rem;
  padding: 1.1rem 0;
}
.sounds__link::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.sounds__link:hover {
  text-decoration: underline;
}

.producer {
  max-width: 120rem;
  margin: 0 auto;
  background: url(/images/bg_main.png) center/cover no-repeat;
  min-height: 74.4rem;
  padding: 5.4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.producer__title {
  font-size: clamp(3rem, 0.9rem + 8.4vw, 7.2rem);
  font-weight: 400;
  line-height: 7.2rem;
  letter-spacing: 1.08px;
  max-width: 42.6rem;
  margin-bottom: 2rem;
}
.producer__descr {
  font-size: 2rem;
  max-width: 41.2rem;
  margin-bottom: 4.4rem;
}
.producer__link {
  max-width: 12.5rem;
  background-color: #0033ff;
  opacity: 0.7;
  padding: 1.6rem 3.2rem;
  border-radius: 0.8rem;
}
.producer__link:hover {
  opacity: 1;
}

.catalog {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  -moz-column-gap: 6rem;
       column-gap: 6rem;
  padding: 5rem 0;
}
.catalog__text {
  color: #A6A8AD;
  font-size: 1.2rem;
  line-height: 1.4rem;
  letter-spacing: 0.12px;
  margin-bottom: 0.5rem;
}
.catalog__title {
  font-size: clamp(1.6rem, 1rem + 2.4vw, 2.8rem);
  font-weight: 400;
  line-height: 3.6rem;
  margin-bottom: 1.2rem;
}
.catalog__descr {
  max-width: 37.4rem;
  margin-bottom: 2rem;
  text-wrap: balance;
}
.catalog__link {
  padding: 0.5rem 2rem;
  background-color: #0033ff;
  border-radius: 0.8rem;
  opacity: 0.8;
}
.catalog__link:hover {
  opacity: 1;
}
.catalog__image {
  max-width: 58rem;
}
.catalog__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.catalog__img {
  margin-bottom: 5rem;
}
.catalog__align {
  text-align: right;
}

.always {
  padding: 9rem 0;
}
.always__title {
  font-size: clamp(1.6rem, 1rem + 2.4vw, 2.8rem);
  line-height: 3.6rem;
  font-weight: 400;
  margin-bottom: 2.4rem;
}
.always__cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(36.1rem, min-content));
  grid-gap: 1rem;
  justify-content: center;
}
.always__card {
  padding: 3.2rem 4.4rem;
  color: #000;
  background-color: #F8F8F8;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 3rem;
  border-radius: 0.8rem;
}
.always__images {
  max-width: 22.3rem;
  max-height: 22.3rem;
}
.always__images img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.always__descr {
  font-size: 2rem;
  line-height: 2.5rem;
  text-wrap: balance;
}
.always__title--h4 {
  color: #767676;
  align-self: flex-start;
  font-size: 1.4rem;
  line-height: 2rem;
  font-weight: 400;
}

.today {
  height: 73rem;
  background: url(/images/section4_bg.png) center/cover, no-repeat;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 5rem;
}
.today__title {
  font-size: clamp(3rem, 1.8rem + 4.8vw, 5.4rem);
  font-weight: 400;
  line-height: 6rem;
}
.today__link {
  background-color: #0033ff;
  padding: 0.8rem 2rem;
  border-radius: 0.8rem;
  opacity: 0.7;
}
.today__link:hover {
  opacity: 1;
}

.footer {
  padding: 5rem 0;
}
.footer__nav {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 3rem;
  flex-wrap: wrap;
  margin-bottom: 8rem;
}
.footer__nav--links {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 2.4rem;
  flex-wrap: wrap;
}
.footer__block--link {
  display: flex;
  flex-direction: column;
  row-gap: 1.1rem;
}
.footer__link {
  color: #A6A8AD;
  font-size: 1.2rem;
  line-height: 1.8rem;
}
.footer__link-1 {
  color: #fff;
  font-size: 2rem;
}
.footer__link-bt {
  margin-bottom: 2rem;
}

@media (width <= 800px) {
  .header {
    justify-content: space-around;
    row-gap: 2rem;
    height: 8rem;
  }
  .catalog__title {
    font-weight: 600;
  }
  .always__title {
    text-align: center;
    font-weight: 600;
  }
}
@media (width < 686px) {
  .sounds {
    padding: 1.2rem;
  }
  .sounds__content {
    display: none;
  }
  .producer {
    padding: 1.5rem;
    min-height: 40rem;
  }
  .producer__title {
    width: 100%;
  }
  .producer__descr {
    font-size: 1.5rem;
  }
}
@media (width < 576px) {
  .header__burger {
    display: block;
    display: flex;
    align-items: center;
    flex-direction: column;
    row-gap: 1rem;
  }
  .nav__items {
    display: none;
  }
  .always__cards {
    grid-template-columns: repeat(auto-fit, minmax(36.1rem, 1fr));
  }
  .today {
    height: 40.5rem;
  }
}/*# sourceMappingURL=style.css.map */