* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.4rem;
  background-color: #121214;
  color: #fff;
}

a {
  text-decoration: none;
  color: #fff;
}

button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  cursor: pointer;
  font-family: "Roboto";
  font-size: 1.6rem;
  font-weight: 400;
}

.container {
  max-width: 120rem;
  padding: 1rem 1.5rem;
  margin: 0 auto;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  height: 7.1rem;
  -moz-column-gap: 2rem;
       column-gap: 2rem;
}
.header__burger {
  display: none;
}
.header__burger span {
  display: inline-block;
  width: 3rem;
  height: 0.2rem;
  background-color: #fff;
}
.header__buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  -moz-column-gap: 2rem;
       column-gap: 2rem;
}
.header__buttons--login {
  color: #A6A8AD;
  line-height: 2rem;
  background-color: transparent;
}
.header__buttons--login:hover {
  color: #fff;
}
.header__buttons--signup {
  color: #121214;
  background-color: #fff;
  border-radius: 3.2rem;
  padding: 0.8rem 2rem;
}
.header__buttons--signup:is(:hover :focus) {
  background-color: #0033ff;
  color: #fff;
}

.nav {
  display: flex;
  align-items: center;
  gap: 3rem;
}
.nav__logo {
  vertical-align: bottom;
  width: 9.7rem;
  height: 3rem;
}
.nav__items {
  display: flex;
  align-items: center;
  -moz-column-gap: 2rem;
       column-gap: 2rem;
  list-style: none;
}
.nav__link {
  display: inline-block;
  color: #A6A8AD;
  line-height: 2rem;
}
.nav__link:hover {
  color: #fff;
}

@media (width <= 800px) {
  .header {
    justify-content: space-around;
    row-gap: 2rem;
    height: 8rem;
  }
}
@media (width < 686px) {
  .sounds {
    padding: 1.2rem;
  }
  .sounds__content {
    display: none;
  }
  .producer {
    padding: 1.5rem;
    min-height: 40rem;
  }
  .producer__title {
    width: 100%;
  }
  .producer__descr {
    font-size: 1.5rem;
  }
}
@media (width < 576px) {
  .header__burger {
    display: block;
    display: flex;
    align-items: center;
    flex-direction: column;
    row-gap: 1rem;
  }
  .nav__items {
    display: none;
  }
}
.sounds {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0033ff;
  -moz-column-gap: 3rem;
       column-gap: 3rem;
  padding: 1.1rem 0;
}
.sounds__link::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.sounds__link:hover {
  text-decoration: underline;
}

.producer {
  max-width: 120rem;
  margin: 0 auto;
  background: url(/images/bg_main.png) center/cover no-repeat;
  min-height: 74.4rem;
  padding: 5.4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.producer__title {
  font-size: clamp(3rem, 0.563rem + 5.25vi, 7.2rem);
  font-weight: 400;
  line-height: 7.2rem;
  letter-spacing: 1.08px;
  max-width: 42.6rem;
  margin-bottom: 2rem;
}
.producer__descr {
  font-size: 2rem;
  max-width: 41.2rem;
  margin-bottom: 4.4rem;
}
.producer__link {
  max-width: 12.5rem;
  background-color: #0033ff;
  opacity: 0.7;
  padding: 1.6rem 3.2rem;
  border-radius: 0.8rem;
}
.producer__link:hover {
  opacity: 1;
}/*# sourceMappingURL=style.css.map */