.always {
    padding: 9rem 0;
    &__title {
        font-size: clamp(1.6rem, 1rem + 2.4vw, 2.8rem);
        line-height: 3.6rem;
        font-weight: 400;
        margin-bottom: 2.4rem;
    }
    &__cards {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(36.1rem, min-content));
        grid-gap: 1rem;
        justify-content: center;
    }
    &__card {
        padding: 3.2rem 4.4rem;
        color:$color-black;
        background-color: #F8F8F8;
        @include flex;
        flex-direction: column;
        gap: 3rem;
        border-radius: .8rem;
    }
    &__images {
    max-width: 22.3rem;
    max-height: 22.3rem;
    img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
    }
    &__descr {
        font-size: 2rem;
        line-height: 2.5rem;
        text-wrap: balance;
        

    }
    &__title--h4 {
        color:#767676;
        align-self: flex-start;
        font-size: 1.4rem;
        line-height: 2rem;
        font-weight: 400;
    }
}