.catalog {
    @include flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 6rem;
    padding: 5rem 0;
    &__text {
        color:$color-grey;
        font-size: 1.2rem;
        line-height: 1.4rem;
        letter-spacing: 0.12px;
        margin-bottom: 0.5rem;
    }
    &__title {
        font-size: clamp(1.6rem, 1rem + 2.4vw, 2.8rem);;
        font-weight: 400;
        line-height: 3.6rem;
        margin-bottom: 1.2rem;
    }
    &__descr {
        max-width: 37.4rem;
        margin-bottom: 2rem;
        text-wrap: balance;
    }
    &__link {
        padding: 0.5rem 2rem;
        background-color: $color-blue;
        border-radius: 0.8rem;
        opacity: .8;
        &:hover {
            opacity: 1;
        }
    }
    &__image{
        max-width: 58rem;
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
    &__img {
        margin-bottom: 5rem;
    }
    &__align {
        text-align: right;
    }

}