.footer {
    padding: 5rem 0;
    &__nav {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        gap: 3rem;
        flex-wrap: wrap;
        margin-bottom: 8rem;
        &--links {
            @include flex;
            justify-content: start;
            gap:2.4rem;
            flex-wrap: wrap;
        }
    }
    &__block--link {
       display: flex;
        flex-direction: column;
        row-gap: 1.1rem;
    }
    &__link {
        color:$color-grey;
        font-size: 1.2rem;
        line-height: 1.8rem;
        &-1 {
            color:$color-white;
            font-size: 2rem;
        }
        &-bt {
            margin-bottom: 2rem;
        }
    }
}