@media (width <= 800px) {
    .header {
        justify-content: space-around;
        row-gap: 2rem;
        height: 8rem;
    }
    .catalog {
        &__title {
            font-weight: 600;
        }
    }
    .always {
        &__title {
            text-align: center;
            font-weight: 600;
        }
    }    
}
@media (width < 686px) {
    .sounds {
        padding: 1.2rem;
        &__content {
            display: none;
        }
    }
    .producer {
        padding: 1.5rem;
        min-height: 40rem;
        &__title {
            width: 100%; ;
        }
        &__descr {
            font-size: 1.5rem;
        }
    }
    
}
@media (width < 576px) {
    .header {
        &__burger {
            @include flex;
            flex-direction: column;
            row-gap: .8rem;
            position: relative;
            z-index: 11;
        }
    }
    .nav {
        &__items {
            transform: translateX(-110%);
            top:13.8rem;
            left: 0;
            right: 0;
            position: absolute;
            z-index: 11;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            row-gap: 2rem;
            background-color: $color-dark;
            width: 100dvw;
            padding: 2.5rem 0;
        } 
    }
    .active {
        transform: translateX(0);
        
    }

    .always {
        &__cards {
            grid-template-columns: repeat(auto-fit, minmax(36.1rem, 1fr));
        }
    }
    .today {
        height: 40.5rem;
    }
    .footer__nav {
        flex-direction: column;
        &--links {
            justify-content: center;
        }
    }
    

    
    
}