.today {
    height: 73rem;
    background: url(/images/section4_bg.png) center / cover, no-repeat;
    @include flex;
    flex-direction: column;
    justify-content: center;
    gap: 5rem;
    &__title {
        font-size: clamp(3rem, 1.8rem + 4.8vw, 5.4rem);
        font-weight: 400;
        line-height: 6rem;
    }
    &__link {
        @include link;
        opacity: .7;
        transition: all .3s ease-in-out;
        animation: rotate 4s linear 2s infinite;
        &:hover {
            opacity: 1;
        }
    }

}
@keyframes rotate {
    0% {
        transform: rotate(45deg);
    }
    25% {
        transform: rotate(90deg);
    }
    50% {
        transform: rotate(180deg);
    }
    75% {
        transform: rotate(275deg);
    }
    100% {
        transform: rotate(360deg);
    }

}
