$color-dark: #121214;
$color-grey:#A6A8AD;
$color-blue:#0033ff;
$color-white: #fff;
$color-black: #000;

@mixin flex {
    display: flex;
    align-items:center
}
@mixin link {
    background-color:$color-blue;
    padding: 0.8rem 2rem;
    border-radius: .8rem;
}